<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065956452855-e9ptr3ki64m1l7401pg1t1hllsds05s8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065956452855-e9ptr3ki64m1l7401pg1t1hllsds05s8</string>
	<key>API_KEY</key>
	<string>AIzaSyCltBzPwYCjZeXMgwviNXKMCq6cKjIhIUs</string>
	<key>GCM_SENDER_ID</key>
	<string>1065956452855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appleBhe</string>
	<key>PROJECT_ID</key>
	<string>gfg-applebhe</string>
	<key>STORAGE_BUCKET</key>
	<string>gfg-applebhe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065956452855:ios:0d7cb917784913119566f2</string>
</dict>
</plist>